<h1>Welcome to Passport Tempplate</h1>
<h2>We are glad to have <%= name %> joining us.  Now, let's drink to <%= alias %>!</h2>

<br>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>