<h1>Login</h1>
<!-- flash display messages here -->
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<br>
<form action="/login" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required/>
    </div>
    <div>
        <label for="nalias">Alias (optional):</label>
        <input type="text" name="alias" id="alias"/>
    </div>    
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required/>
    </div>
    <button type="submit">Login</button>
</form>

<!-- Anchor back -->
<a href="/register">Register</a>